.DS_Store

application/config/*
index.php
application/cache/*
!application/cache/index.html
!application/cache/.htaccess

application/logs/*
!application/logs/index.html
!application/logs/.htaccess

user_guide/*
sb_admin/*
.idea/*
.buildpath
.project
.settings/